.currentnum {
    font-family: 'isidoralight';
    font-size: 160px;
    text-align: center;
}

.annou{
    font-size: 45px;
}

.diceHeader{
    margin: 8px;
}

.historyCard{
    margin-top: 8px; !important
}

.histblk{
    text-align: center;
}
